{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.sourceRegions.label(class="form-control-label") }}
                {{ form.sourceRegions(class="form-control")}}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="form-group">
                {{ form.targetScales.label(class="form-control-label") }}
                {{ form.targetScales(class="form-control") }}
            </div>
        </form>
    </div>
{% endblock content %}