{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.sourceStore.label(class="form-control-label") }}
                {{ form.sourceStore(class="form-control")}}
            </div>
            <div class="form-group">
                {{ form.sourceWeekday.label(class="form-control-label") }}
                {{ form.sourceWeekday(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="form-group">
                {{ form.targetWeekday.label(class="form-control-label") }}
                {{ form.targetWeekday(class="form-control") }}
            </div>
        </form>
    </div>
	
{% endblock content %}